/*reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}
/*reset-end*/
html {
  scroll-behavior: smooth;
  background-image: url(./assets/master-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/*body preset*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: #78b6ec70;
}

/*header*/
header {
  background-image: linear-gradient(
    to right,
    #14252d,
    #14252d,
    rgba(21, 39, 45, 0.445)
  );
  display: flex;
  width: 100%;
  justify-content: center;
  animation-name: scl;
  animation-duration: 2s;
}
.header-left {
  width: 15%;
  height: auto;
  animation-name: cen-in;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}
.header-left img {
  width: 100%;
  height: auto;
}
.header-right {
  display: flex;
  flex-direction: column;
  animation-name: cen-in;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}
.header-right .adj {
  margin-left: 20%;
}
.bright-text {
  color: #fbd260;
  font-size: 5vw;
  text-shadow: 3px 3px 5px rgb(141, 157, 209);
}
.bright-text:first-child {
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2vw;
}
.bright-text:last-child {
  font-size: 3vw;
}
.l-img,
.r-img {
  width: 15%;
  height: auto;
}
.l-img img {
  width: 100%;
  height: auto;
  animation-name: left-photo-in;
  animation-duration: 4s;
  animation-timing-function: ease-int;
}
.r-img img {
  width: 100%;
  height: auto;
  animation-name: right-photo-in;
  animation-duration: 4s;
  animation-timing-function: ease-out;
}

/*nowrap*/
.no-wrap {
  white-space: nowrap;
}

/*header-animation-start*/
@keyframes scl {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes left-photo-in {
  from {
    transform: translate(-200px) rotate(-45deg) scale(0);
  }
  to {
    transform: translateX(0px) rotate(0deg) scale(1);
  }
}
@keyframes right-photo-in {
  from {
    transform: translate(200px) rotate(45deg) scale(0);
  }
  to {
    transform: translateX(0px) rotate(0deg) scale(1);
  }
}
@keyframes cen-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/*header-animation-end*/
/*header end*/

/*navigation bar start*/
nav {
  position: sticky;
  top: 0;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0b3d49;
}
.menu li {
  padding: 0.5rem;
}
.menu > li a {
  color: #ffc77e;
  font-size: 80%;
}

:is(.menu > li a:hover, menu > li a:focus) {
  color: #ffc77ead;
}

/*navigation bar end*/

/*main content start*/
/*master card design start*/
.masters {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 30%));
  min-height: calc(100vh - 40px);
  border: 3px solid rgb(8, 8, 78);
  border-radius: 20px;

  margin: 1rem;
}

.master-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  padding: 2rem;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(0, 35, 66, 1) 100%
  );
  max-width: 250px;
  border-radius: 27px;
  box-shadow: 6px 6px 12px #9b9b9bbb, -6px -6px 12px #ffffffa9;
  margin-bottom: 2rem;
}

.master-heading {
  text-align: center;
  grid-column: 1 / -1;
  color: #fbd260;
  background-color: rgba(134, 134, 134, 0.452);
 border-radius: 20px;
 padding: 1rem;
 border: 1px solid white;
}
.master-box-image {
  width: 100%;
  height: auto;
  border: 5px dotted #a0d2ff;
  border-radius: 50%;
}
.master-box-image-caption {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 2px grey;
}
q {
  color: #ffffff;
  text-shadow: 2px 2px 3px grey;
}
.highlight {
  font-weight: bold;
}

/*laptop and desktop*/
@media (min-width: 768px) {
  .masters {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .master-box:hover {
    transform: translatey(50px) scale(1.1, 1.1) skew(3deg);
    transition-duration: 1s;
  }
  /*master-card-info hide*/
  .hide {
    display: none;
  }
  .master-box:hover .hide {
    display: block;
  }
}

/*master card design end*/

/*service area design start*/
.service {
  padding: 1rem;
}
.service *{
  padding:0.5rem;
}
.service-head{
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  border-radius: 10px;
  background: #ffffff94;
  padding: 0.3rem;
}
.service-head h3{
  font-size:1.5rem;
}
.fig-info-m{
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 900;
  border: 1px solid rgb(255, 255, 255);
  border-left: 5px solid white;
  background-color: rgba(240, 248, 255, 0.452);
  border-top-right-radius: 3rem ;  
}

/*service area design end*/


/*main content end*/

footer > *{
  padding: 1rem;
  color: white;
  background-image: linear-gradient(
    to right,
    #14252d,
    #14252d,
    rgba(21, 39, 45, 0.445)
  );
}
.invisible{
 display: none;
}