/*reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}
/*reset-end*/
html {
}
/*body preset*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

/*header*/
header {
  background-image: linear-gradient(
    to right,
    #14252d,
    #14252d,
    rgba(21, 39, 45, 0.445)
  );
  display: flex;
  width: 100%;
  justify-content: center;
  animation-name: scl;
  animation-duration:2s;
}
.header-left {
  width: 15%;
  height: auto;
  animation-name: cen-in;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}
.header-left img {
  width: 100%;
  height: auto;
}
.header-right {
  display: flex;
  flex-direction: column;
  animation-name: cen-in;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}
.header-right .adj {
  margin-left: 20%;
}
.bright-text {
  color: #fbd260;
  font-size: 5vw;
  text-shadow: 3px 3px 5px rgb(141, 157, 209);
}
.bright-text:first-child {
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2vw;
}
.bright-text:last-child {
  font-size: 3vw;
}
.l-img,
.r-img {
  width: 15%;
  height: auto;
}
.l-img img {
  width: 100%;
  height: auto;
  animation-name: left-photo-in;
  animation-duration: 4s;
  animation-timing-function: ease-int;
}
.r-img img {
  width: 100%;
  height: auto;
  animation-name: right-photo-in;
  animation-duration: 4s;
  animation-timing-function: ease-out;
}

/*nowrap*/
.no-wrap {
  white-space: nowrap;
}
/*header end*/
/*header-animation-start*/
@keyframes scl {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@keyframes left-photo-in {
  from {
    transform: translate(-200px) rotate(-45deg) scale(0);
  }
  to {
    transform: translateX(0px) rotate(0deg) scale(1);
  }
}
@keyframes right-photo-in {
  from {
    transform: translate(200px) rotate(45deg) scale(0);
  }
  to {
    transform: translateX(0px) rotate(0deg) scale(1);
  }
}
@keyframes cen-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/*header-animation-end*/
